.header {
  margin-top: 1em;
  font-size: 26px;
}

.vis {
  clear: both;
  height: 500px;
}

.controls {
  width: 100%;
  background: #ccc;
  padding-top: 2em;
  position: absolute;
  bottom: 0;

}

/* don't select graph nodes */
g.node {
  user-select: none;
}

body {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 12px;
  color: #455a64;
  /* Move down content because we have a fixed navbar that is 3.5rem tall */
  padding-top: 3.5rem;
}

.fn_label {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 15px;
  color: #455a64;
}
.node rect {
  stroke: #455a64;
  fill: #fff;
  stroke-width: 2px;
}

.covered rect {
  fill: green !important;
  transition: fill .7s ease;
}

.uncovered rect {
  fill: white
  transition: fill .7s ease;
}

.edgePath path {
  stroke: #455a64;
  fill: #455a64;
  stroke-width: 1px;
}


#cov-title {
  text-transform: capitalize;
}

/* Currently selected- yellow border */
.selected-treemap {
  stroke: yellow !important;
  stroke-width: 4px !important;
  opacity: 1 !important; /*hover should not change this */
}

.treemap-node {
  stroke: black;
  stroke-width: 2px;
  opacity: 1;
}

/* Hovered border - red border, decreased opacity */
.treemap-node-hover {
  stroke: red;
  stroke-width: 4px;
  opacity: 0.7;
}

/* Range slider */
.range_container {
  padding-top: 5px;
}

#range {
  width: calc(100% - 70px) !important;
  position: absolute;
  margin-top: 5px;
}

#button:disabled .btn_image {
  opacity: 0.3;
}

/* Place a border on the function overview */
#graph {
  border: 1px solid black;
}

/* Vertical line for current timestep in time line graph */
.cur_timestep {
  stroke: blue;
  stroke-width: 2px;
  stroke-dasharray: 2;
  fill: none;

}
