.header {
  margin-top: 1em;
  font-size: 26px;
}

/* TODO: Position these in a better way */
.left  {
  width: 400px;
  float: left;
  padding-left: 10px;
}

.right  {
  width: 1000px;
  float: left;
  padding-left: 100px;
}

.vis {
  clear: both;
  height: 500px;
}

.controls {
  width: 100%;
  background: #ccc;
  padding-top: 2em;
  position: absolute;
  bottom: 0;

}
